<form [formGroup]="form" class="new-payment-form">
  <mat-form-field class="form-item">
    <mat-select placeholder="Transaction type" formControlName="transactionType" name="item">
      <mat-option *ngFor="let type of transactionTypes" [value]="type.code">
        {{type.displayText}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-item">
    <input matInput type="number" placeholder="Amount" value="value"
            step="0.1" min="0" formControlName="amount">
  </mat-form-field>
  <mat-form-field class="form-item" formControlName="comment">
    <textarea matInput placeholder="Leave a comment" formControlName="comment"></textarea>
  </mat-form-field>
  <button mat-flat-button color="primary">Add transaction</button>
</form>
